<div class="thongtinhocsinh">
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
        </tr>

        {{#each datas}}
        <tr>
            <td > <a href="/data/{{this.uid}}"> {{this.uid}}</a></td>
            <td>{{this.name}}</td>
            <td>{{this.date}}</td>
        </tr>

        {{/each}}
    </table>
</div>
