<div class="mt-4">
    <h3> Data Create Page </h3>
    <form method="POST" action="/data/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name = "name">
        </div><div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="text" class="form-control" id="date" name = "date">
        </div><div class="mb-3">
            <label for="character" class="form-label">Character</label>
            <input type="text" class="form-control" id="character" name = "character">
        </div>
        <button type="submit" class="btn btn-primary">Add Data</button>
    </form>
</div>